
img.vidThumbs
	{
	width: 95%;
	max-width:201px;
    height: auto;

	}
	
	
img.vidThumbsSpacer
	{
	width: 95%;
	max-width:201px;
    height: auto;
	
border-bottom-style:solid;
border-bottom-width:1px;
border-bottom-color:red;

border-top-style:solid;
border-top-width:1px;
border-top-color:red;

border-left-style:solid;
border-left-width:1px;
border-left-color:red;

border-right:solid;
border-right-width:1px;
border-right-color:red;


	}